/*This specify the style of the body tag*/

body{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(images_used_in_css/tree.jpg);/*this rgb colors is used for the intensity of the image*/
	background-size: cover;
	font-family: sans-serif;
  background-attachment:fixed;
}
/*this is used to fix the user login box like structure*/
.box{
	width: 328px;
	height: 420px;
	background: rgba(0, 0, 0, 0.34);
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 20px;
	padding:80px 30px;


}
/*the logo is fixed inside the user login box*/
.logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 35%;
}
/*size and position of the header text*/
h1{
	margin: 0;
	padding:0 0 20px;
	text-align: center;
	font-size: 22px;
}
/*style for the user login box*/
.box p{
	margin: 0;
	padding:0;
	font-weight: bold;
}
/*fix the input text area*/
.box input{
	width: 100%;
	margin-bottom: 20px;

}
/*style of the box and the text field for the user*/
.box input[type="text"],input[type="password"]{
	border:none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
}
/*style fod the submit button*/
.box input[type="submit"]
{
	border:none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: white;
	font-size: 18px;
	border-radius: 20px;
}
/*login button color change when the cursor is hover*/
.box input[type=submit]:hover{
	cursor: pointer;
	background:green;
	color: white;

}

