<!DOCTYPE html>
<html>
    <head>
        <title>shopping</title>
        <link rel="stylesheet" href="../static/styles/list_of_fruits_and_hot.css">
    <script src="../static/script/javascript_shopping.js"></script>
    </head>
    <body>
    <a href="menu_page.html" class="previous">&laquo; Previous</a>
        <section class="container content-section">
            <h2 class="section-header" >FRUITS</h2>
            <div class="shop-items">

                <div class="shop-items">
                    <span class="shop-item-title">apple</span>
                    <img class="shop-item-image" src="../static/images/apples.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">orange</span>
                    <img class="shop-item-image" src="../static/images/orange.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">GREEN_GRAPES</span>
                    <img class="shop-item-image" src="../static/images/green_grapes.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">MOSAMBI</span>
                    <img class="shop-item-image" src="../static/images/mosami.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">Muskmelon</span>
                    <img class="shop-item-image" src="../static/images/muskmelon.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">papaya</span>
                    <img class="shop-item-image" src="../static/images/papaya.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">carrot</span>
                    <img class="shop-item-image" src="../static/images/carrots.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">pineapple</span>
                    <img class="shop-item-image" src="../static/images/pineapple.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">promegranate</span>
                    <img class="shop-item-image" src="../static/images/pomegra.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
                <div class="shop-items">
                    <span class="shop-item-title">GUVA</span>
                    <img class="shop-item-image" src="../static/images/guva.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
            </div>

        </section>

        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">

            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">submit</button>
        </section>
    </body>
</html>