<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="../static/script/javascript_shooping.js"></script>
  <link rel="stylesheet" href="../static/styles/list_of_fruits_and_hot.css">
    <style>
        table, th, td {
  border: 1px solid white;
        }

    </style>

</head>
<body>
<a href="menu_page.html" class="previous">&laquo; Previous</a>
<form action="list_of_hot.html">
  <input type="image" src="../static/images/juicess.jpg" alt="Submit" width="50" height="50">

    <h3>JUICE</h3>
<table>
    <tr>
        <td valign="top">

            <table>

                <tbody>
                <tr>
                    <td>
                        <img src="../static/images/milk.jpg" alt="milk" width=50%" height="200px"><br>
                        <input type="button" value="Add to cart" onclick="AddtoCart('milk',1)"/>
                    </td>
                    <td>
                        <img src="../static/images/coff.jpg" alt="coffee" width=50%" height="200px"><br>
                        <input type="button" value="Add to cart" onclick="AddtoCart('coffee',1)"/>
                    </td>

                </tr>
                <tr>
                    <td>
                        <img src="../static/images/lemon_tea.jpg" alt="lemon_tea" width=50%" height="200px"><br>
                        <input type="button" value="Add to cart" onclick="AddtoCart('lemon_tea',1)"/>
                    </td>
                    <td>
                        <img src="../static/images/green_tea.jpg" alt="green_tea" width="50%" height="200px"><br>
                        <input type="button" value="Add to cart" onclick="AddtoCart('green_tea',1)"/>
                    </td>

                </tr>
                <tr>
                  <td>
                        <img src="../static/images/tea.jpg" alt="tea" width="50%" height="200px"><br>
                        <input type="button" value="Add to cart" onclick="AddtoCart('tea',1)"/>
                    </td>
                  <td>
                        <img src="../static/images/black_tea.jpg" alt="ginger_tea" width="50%" height="200px"><br>
                        <input type="button" value="Add to cart" onclick="AddtoCart('black_tea',1)"/>
                    </td>
                </tr>


                </tbody>
            </table>
        </td>
        <td valign="top">
            <table id="shopping cart">
                <thead>
                <tr>
                    <td>
                        Itemname
                    </td>
                    <td>
                        Quantity
                    </td>
                </tr>
                </thead>
                <tbody id="ordered_items_list">
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>