<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="../static/styles/list_of_fruits_and_hot.css" />
        <script src="../static/script/javascript_shooping.js" async></script>
    </head>
    <body>
        <section class="container content-section">
            <h2 style="align:center" class="section-header">FRUITS</h2>
            <div class="shop-items">
                <div class="shop-items">
                    <span class="shop-item-title">BLACK GRAPES</span>
                    <img class="shop-item-image" src="..\static\images\berry.jpg" Width="100%" height="300px">
                    <div class="shop-item-details">
                        <span class="shop-item-price"></span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
               </div>
            </div>
        </section>

        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">

            </div>
            <div class="cart-total">
                <span class="cart-total-price"></span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">submit</button>
        </section>
    </body>
</html>