<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/styles/my_login_page.css">

</head>
<body>
<h2 style="text-align:center;color:blue ">MENU ITEMS</h2>
<form action="/beverage_for_hot" >
<div class="hot_beverage">
<input type="image" src="../static/assets/images/cafe.jpg"  width="650" height="500" align="left" >
</div>
</form>

<form action="/beverage_for_cold" >
<div class="cold_beverage">

    <input type="image" src="../static/assets/images/mixs.jpg" width="650" height="500" align="right">
</div>

</form>


</form>
    <form action="/menu_page_back_button">
        <div>
  <button class="auto-width"  >Go Back</button>
        </div>
</form>

</body>
</html>



