<html>
<head>
	<title>Login</title>
	<!--connecting with external the css page-->
	<link rel="stylesheet" href="../static/styles/creating_customer_login.css">

</head>
<!--customer login-->
<body class="image">
	<div class="box">
		<img src="../static/assets/images/serving.jpg" class="logo" >

		<h1>Login Here</h1>
		<!--after entering the details the current page login to the next page-->
		<form action="/customer_login_page"  method="POST">
			<p>User_Id</p>
			<!--enter the user name and the id -->
			<input type="number" name="id" value="" placeholder="Enter the User_id" style="height:25px" required >
			<input type="submit"  value="Login"  onclick="">
          </form>

	</div>
<form action="/cancelbtn">
    <div>
        <button style="background-color:red;margin-top:40%; margin-left:40%;">Cancel</button>
    </div>
</form>

</body>
</html>