<html>
<head>
	<title>Login</title>
	<!--connecting with external the css page-->
  <link rel="stylesheet" href="../static/styles/creating_customer_login.css">

</head>
<!--customer login-->
<body>
	<div class="box">
		<img src="../static/assets/images/mixture_fruit.jpg" class="logo" >
		<h1>Login Here</h1>
		<!--after entering the details the current page login to the next page-->
		<form action="/vendor"  method="POST">
			<p>User_Id</p>
			<!--enter the user name and the id -->
			<input type="text" name="id" value="" placeholder="Enter the User_id" style="height:25px" required >
            <p> UserName</p>
            <input type="text" id="uname" placeholder="Enter Username" name="uname" required>
            <p >Password</p>
            <input type="password" id="psw" placeholder="Enter Password" name="psw" required>

            <button type="submit" style=" height:25px; width:250px">Login</button>


        </form>
        </div>
			  <!--redirect  to  the home page-->
		<!--<form action="/" >
			  <button type="button" style="background-color:red" class="cancelbtn">Cancel</button>
		</form>-->

</body>
</html>