<!DOCTYPE html>
<html>
<head>
<!--connection with the external css-->
<link rel="stylesheet" href="../CSS/list_of_fruits_and_hot.css">
</head>

<body>
<div class="order">Your Order:</div>

<h2 style="text-align:center">FRESH JUICE</h2>
<div>
<!--list of the fruit items in the menu-->
     <div class="card">
       <img src="Image_folder/apple.jpg" alt="apple" width="100%" height="300px">
       <h1 style="text-align:center">Apple</h1>
       <p style="text-align:center"><button>Add to Cart</button>
      </div>
<!--list of the fruit items in the menu-->
      <div class="card">
         <img src="Image_folder/pomegra.jpg" alt="pomegranate" width="100%" height="300px" >
         <h1 style="text-align:center">Pomegranate</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
      </div>
<!--list of the fruit items in the menu-->
       <div class="card">
           <img src="Image_folder/lemon.jpg" alt="lemon" width="100%" height="300px" >
            <h1 style="text-align:center">Lemon</h1>
            <p style="text-align:center"><button>Add to Cart</button></p>
       </div>
        <div class="card">
            <!--list of the fruit items in the menu-->
           <img src="Image_folder/pine_apple.jpg" alt="pine_apple" width="100%" height="300px"  >
           <h1 style="text-align:center">Pineapple</h1>
           <p style="text-align:center"><button>Add to Cart</button></p>
        </div>
<!--list of the fruit items in the menu-->
        <div class="card">
           <img src="Image_folder/berry.jpg" alt="berry" width="100%" height="300px">
           <h1 style="text-align:center">Black Berries</h1>
           <p style="text-align:center"><button>Add to Cart</button></p>
        </div>
<!--list of the fruit items in the menu-->
       <div class="card">
         <img src="Image_folder/black_grapes.jpg" alt="black_grapes" width="100%" height="300px" >
         <h1 style="text-align:center">Black Grapes</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
       </div>
<!--list of the fruit items in the menu-->
     <div class="card">
          <img src="Image_folder/green_grapes.jpg" alt="green_grapes" width="100%" height="300px">
          <h1 style="text-align:center">Green Grapes</h1>
          <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
    <div class="card">
          <img src="Image_folder/berries.jpg" alt="p" width="100%" height="300px" >
         <h1 style="text-align:center">Straw Berries</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
    <div class="card">
          <img src="Image_folder/Papaya.jpg" alt="papaya" width="100%" height="300px" >
         <h1 style="text-align:center">Papaya</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->

   <div class="card">
          <img src="Image_folder/water.jpg" alt="watermelon" width="100%" height="300px">
         <h1 style="text-align:center">Watermelon</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->

   <div class="card">
          <img src="Image_folder/orange.jpg" alt="orange" width="100%" height="300px" >
         <h1 style="text-align:center">Orange</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>

       </div>
<!--list of the fruit items in the menu-->
       <div class="card">
           <img src="Image_folder/carrot.jpg" alt="carrot" width="100%" height="300px" >
         <h1 style="text-align:center">Carrot</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
       <div class="card">
           <img src="Image_folder/mango.jpg" alt="mango" width="100%" height="300px" >
         <h1 style="text-align:center">Mango</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
   <div class="card">
           <img src="Image_folder/mosami.jpg" alt="sathukudi" width="100%" height="300px">
         <h1 style="text-align:center">Mosambi</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
    <div class="card">
           <img src="Image_folder/Angeer.jpg" alt="anjur" width="100%" height="300px">
         <h1 style="text-align:center">Anjeer</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
  <div class="card">
           <img src="Image_folder/guva.jpg" alt="guva" width="100%" height="300px">
         <h1 style="text-align:center">Guva</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
<!--list of the fruit items in the menu-->
   <div class="card">
           <img src="Image_folder/muskmelon.jpg" alt="muskmelon" width="100%" height="300px">
         <h1 style="text-align:center">Muskmelon</h1>
         <p style="text-align:center"><button>Add to Cart</button></p>
     </div>
</div>

</body>
</html>
