<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beverages</title>
</head>
<body>
<form action="/post-data" method=post class=add-entry id="form1">
    <div id="name-div"><div>Name: </div><div><input type=text size=30 name="name"/></div></div>
    <div id="employee-id-div"><div>Employee Id:</div><div> <input type=text size=30 name="id"/></div></div>
    <div id="submit-button"><input type="submit" name="Enter"/></div>
</form>
</body>
<link rel="stylesheet" href="../static/styles/user_page.css">
</html>
