<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/My_login_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body background="../static/assets/images/mixture1.jpg">

<font size="8">
    <em>
        <h1 class = "center" >WELCOME TO </h1>
        <h3 class= "center">THOUGHTWORKS HOTS & FRUITS VILLA</h3>
    </em>
</font>
<form action="/vendor_page" method="GET">
    <button class = "auto-width" ><b>VENDOR</b></button>
 </form>
<form action="/customer_page" method="GET">

    <button class = "auto-width" ><b>CUSTOMER</b></button>
</form>
</body>
</html>
